/* tables.css */
body {
    background-color: #f4f4f4;
    font-family: sans-serif;
}

.container-tabela {
    width: 90%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #13418f;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td a {
    color: #13418f;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}